@charset "UTF-8";
@import "bootstrap.min.css";
body {
  font-family: "TT Norms", "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  height: 89px;
  z-index: 10;
}
header .container {
  position: relative;
  align-items: flex-end !important;
}
header .navbar-collapse {
  justify-content: flex-end;
}
header .header-address {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 9px;
}
header .header-address p {
  font-size: 17px;
  line-height: 19px;
  color: #FFFFFF;
  font-weight: normal;
  padding: 0 10px 3px;
  display: inline-block;
  margin-bottom: 0;
}
header .header-address a {
  font-size: 17px;
  line-height: 19px;
  color: #FFFFFF;
  font-weight: 400;
  padding: 0 10px 3px;
}
header .header-address i {
  font-size: 20px;
}
header .header-address .lang-radio {
  padding-right: 20px;
}
header .header-address .lang-radio span {
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}
header .header-address .lang-radio input {
  display: none;
}
header .header-address .lang-radio input:checked + span {
  color: #FFFFFF;
  background-color: #F0145A;
  transition: background-color 0.3s;
  padding: 3px 8px;
  cursor: pointer;
  border-radius: 10px;
}
header .header-address .phone:before, header .header-address .phone:after {
  content: "•";
  color: #FFFFFF;
  font-size: 20px;
}

#navbarNav {
  margin-bottom: -10px;
}
#navbarNav .navbar-nav .nav-link {
  font-size: 20px;
  line-height: 21px;
  color: #FFFFFF;
  font-weight: normal;
  padding-top: 3px;
  transition: background-color 0.3s;
  border-radius: 10px;
}
#navbarNav .navbar-nav .nav-link:hover {
  background-color: #F0145A;
}

@media (max-width: 992px) {
  header .header-address {
    display: none;
  }
  header .navbar-toggler {
    line-height: unset;
  }
  header .navbar-toggler i {
    height: 100%;
    color: #FFFFFF;
  }
}
.banner {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  padding-top: 139px;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow-y: hidden;
}
.banner .center-content {
  margin-top: -45px;
  position: relative;
}
.banner .center-content:before, .banner .center-content:after {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
}
.banner .center-content:before {
  content: url("../images/Symbol-Long-leg.svg");
}
.banner .center-content:after {
  content: url("../images/Frame_2(1).svg");
}
.banner .center-content p {
  font-size: 38px;
  line-height: 45px;
  color: #FFFFFF;
  font-weight: normal;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 992px) {
  .center-content:after {
    background-color: transparent;
  }
}
.experience {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}
.experience .exp-tab {
  padding: 80px 0;
}
.experience .tab-item .link-btn {
  font-size: 42px;
  line-height: 50px;
  color: #B3B3BA;
  font-weight: normal;
  background-color: transparent;
  border: none;
  text-align: right;
  padding-bottom: 20px;
  padding-right: 40px;
  border-right: 3px solid #FFFFFF;
}
.experience .tab-item .link-btn:focus {
  color: #F0145A;
  border-right: 3px solid #F0145A;
}

.tab-item2 h3 {
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  font-weight: normal;
  max-width: 700px;
  padding-bottom: 30px;
}
.tab-item2 p {
  font-size: 21px;
  line-height: 30px;
  color: #FFFFFF;
  font-weight: normal;
  max-width: 700px;
}

.services {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  padding-top: 70px;
  padding-bottom: 60px;
  position: relative;
  margin-bottom: 50px;
  border-radius: 0 0 30px 30px;
}
.services:before, .services:after {
  position: absolute;
  content: "";
  display: block;
  height: 10px;
  margin: 10px auto;
  border-radius: 0 0 30px 30px;
  left: 50%;
  transform: translateX(-50%);
}
.services:before {
  width: 94%;
  bottom: -20px;
  background-color: #CACADB;
}
.services:after {
  width: 90%;
  bottom: -30px;
  background-color: #E7E7F2;
}
.services h2 {
  font-size: 42px;
  line-height: 50px;
  color: #F0145A;
  font-weight: normal;
  padding-bottom: 50px;
}
.services .skills-item {
  width: calc(100% / 3);
  padding-right: 30px;
  padding-bottom: 30px;
}
.services .skills-item img {
  padding-bottom: 20px;
}
.services .skills-item h4 {
  color: #24A3FF;
  padding-bottom: 15px;
}
.services .skills-item p {
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  font-weight: normal;
}

.team-slide {
  margin-bottom: 70px;
}
.team-slide .team-indicator {
  margin-bottom: -50px;
}
.team-slide .team-indicator .team-btn {
  height: 20px;
  border-radius: 50%;
  border: 3px solid #24A3FF;
  width: 20px;
}
.team-slide .team-item {
  background: #F5F5FA;
  border-radius: 12px;
}
.team-slide .carousel-item {
  display: flex;
}
.team-slide .carousel-item .team-photo {
  width: 30%;
}
.team-slide .carousel-item .team-photo img {
  width: 100%;
}
.team-slide .carousel-item .team-text {
  width: 70%;
  padding-left: 70px;
  padding-top: 60px;
}
.team-slide .carousel-item .team-text h3 {
  font-size: 42px;
  line-height: 50px;
  color: #F0145A;
  font-weight: bold;
}
.team-slide .carousel-item .team-text .name {
  font-size: 18px;
  line-height: 21px;
  color: #B3B3BA;
  font-weight: normal;
}
.team-slide .carousel-item .team-text .position {
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
  font-weight: normal;
}

.cases {
  margin: 100px 0 60px;
}
.cases .cases-bg {
  background-color: #F5F5FA;
  border-radius: 12px;
}
.cases .cases-item {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.cases .cases-item .cases-h {
  border-bottom: 4px solid white;
  width: 100%;
  padding: 20px 20px 10px;
}
.cases .cases-item .cases-h h3 {
  font-size: 14px;
  line-height: 17px;
  color: #F0145A;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.cases .cases-item .cases-description {
  font-size: 24px;
  line-height: 28px;
  color: #686887;
  font-weight: 600;
  padding-bottom: 20px;
  padding-top: 48px;
  padding-left: 10px;
}
.cases .cases-item .cases-client {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  font-weight: normal;
  padding-left: 10px;
}

.clients h3 {
  font-size: 16px;
  line-height: 17px;
  color: #323264;
  font-weight: bolder;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}
.clients .logo-clients .clients-item {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
}
.clients .logo-clients .clients-item:nth-child(1) {
  background-color: #1C4280;
}
.clients .logo-clients .clients-item:nth-child(2) {
  background-color: #143646;
}
.clients .logo-clients .clients-item:nth-child(3) {
  background-color: #F48B30;
}
.clients .logo-clients .clients-item:nth-child(4) {
  background-color: #9E4DC3;
}
.clients .logo-clients .clients-item:nth-child(5) {
  background-color: #FD9339;
}
.clients .logo-clients .clients-item:nth-child(6) {
  background-color: #E2E2E4;
}
.clients .logo-clients .clients-item:nth-child(7) {
  background-color: #C71C36;
}
.clients .logo-clients .clients-item:nth-child(8) {
  background-color: #DCF3F9;
}
.clients .logo-clients .clients-item:nth-child(9) {
  background-color: #EAEAEA;
}
.clients .logo-clients .clients-item:nth-child(10) {
  background-color: #282240;
}
.clients .logo-clients .clients-item:nth-child(11) {
  background-color: #1D4568;
}
.clients .logo-clients .clients-item:nth-child(12) {
  background-color: #000000;
}

.publications {
  background-color: #F5F5FA;
  padding-top: 50px;
  position: relative;
}
.publications .for-shadow {
  border-bottom: 5px solid #E6E6F0;
}
.publications .breadcrumb-public {
  font-size: 14px;
  line-height: 17px;
  color: #24A3FF;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.publications h2 {
  font-size: 42px;
  line-height: 50px;
  color: #F0145A;
  font-weight: bold;
  padding-bottom: 50px;
}
.publications .p_item_bg {
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 40px;
}
.publications .p_item_bg p {
  padding: 0 20px 10px;
}
.publications .p_item_bg h3 {
  font-size: 18px;
  line-height: 21px;
  color: #24A3FF;
  font-weight: normal;
  padding: 20px 20px;
}
.publications .p_item_bg .p-small {
  font-size: 12px;
  line-height: 14px;
  color: #B3B3BA;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  width: 90%;
  margin: 0 auto 8px;
  border-bottom: 4px solid #E6E6F0;
}
.publications .p_item_bg .p-big {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: normal;
}
.publications .p_item_bg .more-public {
  padding: 17px 70px;
  color: #FFFFFF;
  background-color: #24A3FF;
  border-radius: 12px;
  font-weight: bold;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  background-color: #F5F5FA;
  padding-top: 32px;
  padding-bottom: 40px;
}
footer .f-address {
  display: flex;
  align-items: start;
}
footer .f-address p {
  font-size: 16px;
  line-height: 19px;
  color: #323264;
  font-weight: normal;
  padding-right: 10px;
}
footer .f-address a {
  font-size: 12px;
  line-height: 14px;
  color: #24A3FF;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
footer .f-address a:before {
  content: "•";
  color: #B3B3BA;
  font-size: 20px;
  padding-right: 10px;
}
footer .f-contact .phone {
  font-size: 16px;
  line-height: 19px;
  color: #46466E;
  font-weight: bold;
}
footer .f-contact .phone:before, footer .f-contact .phone:after {
  content: "•";
  color: #B3B3BA;
  font-size: 20px;
  padding: 0 10px;
}
footer .f-contact .mail {
  font-size: 16px;
  line-height: 19px;
  color: #24A3FF;
  font-weight: bold;
}
footer .item-2 {
  text-align: end;
}
footer .item-2 .right {
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
