@charset "UTF-8";
@import "bootstrap.min.css";
body {
  font-family: "TT Norms", "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  height: 89px;
  z-index: 10;
}
header .container {
  position: relative;
  align-items: flex-end !important;
}
header .navbar-collapse {
  justify-content: flex-end;
}
header .header-address {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 9px;
}
header .header-address p {
  color: #FFFFFF;
  padding: 0 10px 3px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 17px;
}
header .header-address a {
  font-weight: 400;
  padding: 0 10px 3px;
  color: #FFFFFF;
  font-size: 17px;
}
header .header-address i {
  font-size: 20px;
}
header .header-address .lang-radio {
  padding-right: 20px;
}
header .header-address .lang-radio span {
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}
header .header-address .lang-radio input {
  display: none;
}
header .header-address .lang-radio input:checked + span {
  color: #FFFFFF;
  background-color: #F0145A;
  transition: background-color 0.3s;
  padding: 3px 8px;
  cursor: pointer;
  border-radius: 10px;
}
header .header-address .phone:before, header .header-address .phone:after {
  content: "•";
  color: #FFFFFF;
  font-size: 20px;
}

#navbarNav {
  margin-bottom: -10px;
}
#navbarNav .navbar-nav .nav-link {
  color: #FFFFFF;
  font-size: 20px;
  padding-top: 3px;
  transition: background-color 0.3s;
  border-radius: 10px;
}
#navbarNav .navbar-nav .nav-link:hover {
  background-color: #F0145A;
}

@media (max-width: 992px) {
  header .header-address {
    display: none;
  }
  header .navbar-toggler {
    line-height: unset;
  }
  header .navbar-toggler i {
    height: 100%;
    color: #FFFFFF;
  }
}
.banner {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  padding-top: 139px;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow-y: hidden;
}
.banner .center-content {
  margin-top: -45px;
  position: relative;
}
.banner .center-content:before, .banner .center-content:after {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
}
.banner .center-content:before {
  content: url("../images/Symbol-Long-leg.svg");
}
.banner .center-content:after {
  content: url("../images/Frame_2(1).svg");
}
.banner .center-content p {
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 992px) {
  .center-content:after {
    background-color: transparent;
  }
}
.experience {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}
.experience .exp-tab {
  padding: 80px 0;
}
.experience .tab-item {
  border-right: 3px solid #FFFFFF;
}
.experience .tab-item .link-btn {
  background-color: transparent;
  color: #B3B3BA;
  border: none;
  font-size: 42px;
  line-height: 50px;
  text-align: right;
  padding-bottom: 20px;
  padding-right: 40px;
}
.experience .tab-item .link-btn:focus {
  color: #F0145A;
  border-right: 3px solid #F0145A;
}

.tab-item2 h3 {
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  max-width: 700px;
  padding-bottom: 30px;
}
.tab-item2 p {
  font-size: 21px;
  line-height: 30px;
  color: #FFFFFF;
  max-width: 700px;
}

.services {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  padding-top: 70px;
  padding-bottom: 60px;
  position: relative;
  margin-bottom: 50px;
  border-radius: 0 0 30px 30px;
}
.services:before, .services:after {
  position: absolute;
  content: "";
  display: block;
  height: 10px;
  margin: 10px auto;
  border-radius: 0 0 30px 30px;
  left: 50%;
  transform: translateX(-50%);
}
.services:before {
  width: 94%;
  bottom: -20px;
  background-color: #CACADB;
}
.services:after {
  width: 90%;
  bottom: -30px;
  background-color: #E7E7F2;
}
.services h2 {
  font-size: 42px;
  line-height: 50px;
  color: #F0145A;
  padding-bottom: 50px;
}
.services .skills-item {
  width: calc(100% / 3);
  padding-right: 30px;
  padding-bottom: 30px;
}
.services .skills-item img {
  padding-bottom: 20px;
}
.services .skills-item h4 {
  color: #24A3FF;
  padding-bottom: 15px;
}
.services .skills-item p {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 26px;
}

.team-slide {
  margin-bottom: 70px;
}
.team-slide .team-btn {
  background-color: black;
  height: 5px;
}
.team-slide .team-item {
  background: #F5F5FA;
  border-radius: 12px;
}
.team-slide .carousel-item {
  display: flex;
}
.team-slide .carousel-item .team-photo {
  width: 30%;
}
.team-slide .carousel-item .team-photo img {
  width: 100%;
}
.team-slide .carousel-item .team-text {
  width: 70%;
  padding-left: 70px;
  padding-top: 60px;
}
.team-slide .carousel-item .team-text h3 {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #F0145A;
}
.team-slide .carousel-item .team-text .name {
  font-size: 18px;
  line-height: 21px;
  color: #B3B3BA;
}
.team-slide .carousel-item .team-text .position {
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
}

/*# sourceMappingURL=style.css.map */
