.services {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);

  .nav-tabs {
    flex-direction: column;
    border: none;
    padding-bottom: 40px;

    .nav-item {
      width: 40%;
      border: none;

      a {
        color: white;
        font-size: 25px;
        font-weight: 500;
        transition: color 0.3s;

        &:hover {
          color:  #F0145A;
        }
      }

    }
  }
  .breadcrumb {
    color: white;
    font-size: 17px;
  }

  h2 {
    font-size: 42px;
    line-height: 50px;
    color: #F0145A;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;

    .skills-item {
      width: calc(100% / 3);
      padding-right: 30px;
      padding-bottom: 30px;

      img {
        padding-bottom: 20px;
      }

      h4 {
        color: #24A3FF;
        padding-bottom: 15px;
      }

      p {
        color: white;

      }
    }

  }

}