.services {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  padding-top: 70px;
  padding-bottom: 60px;
  position: relative;
  margin-bottom: 50px;
  border-radius: 0 0 30px 30px;

  &:before,
  &:after {
    position: absolute;
    content: '';
    display: block;
    height: 10px;
    margin: 10px auto;
    border-radius: 0 0 30px 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  &:before {
    width: 94%;
    bottom: -20px;
    background-color: #CACADB;
  }

  &:after {
    width: 90%;
    bottom: -30px;
    background-color: #E7E7F2;

  }

  h2 {
    font-size: 42px;
    line-height: 50px;
    color: $dominant-color;
    padding-bottom: 50px;
  }

    .skills-item {
      width: calc(100% / 3);
      padding-right: 30px;
      padding-bottom: 30px;

      img {
        padding-bottom: 20px;
      }

      h4 {
        color: $dominant-blue-color;
        padding-bottom: 15px;
      }

      p {
        color: $main-text-color;
        font-size: 18px;
        line-height: 26px;

      }
    }

  }
