.publications {
    background-color: $block-bg-color;
  padding-top: 50px;
  position: relative;

  .for-shadow {
    border-bottom: 5px solid #E6E6F0;
  }


    .breadcrumb-public {
      @include text(14px, 17px, $dominant-blue-color, bold);
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    h2 {
      @include text(42px, 50px, $dominant-color, bold);
      padding-bottom: 50px;
    }

    .p_item_bg {
      background-color: $main-text-color;
      border-radius: 8px;
      margin-bottom: 40px;

      .publ-img {
        width: 100%;
      }

      p {
        padding: 0 20px 10px;
      }

      h3 {
        @include text(18px, 21px, $dominant-blue-color, normal);
        padding: 20px 20px;
      }

      .p-small {
        @include text(12px, 14px, $slide-text-color, bold);
        letter-spacing: 1px;
        text-transform: uppercase;
        display: block;
        width: 90%;
        margin: 0 auto 8px;
        border-bottom: 4px solid #E6E6F0;
      }

      .p-big {
        @include text(16px, 22px, #000000, normal);
      }

      .more-public {
        padding: 17px 70px;
        color: $main-text-color;
        background-color: $dominant-blue-color;
        border-radius: 12px;
        font-weight: bold;
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
      }
    }



}