.team-slide {
  margin-bottom: 70px;

  .team-indicator {
    margin-bottom: -50px;

    .team-btn {
      height: 20px;
      border-radius: 50%;
      border: 3px solid $dominant-blue-color;
      width: 20px;
    }
  }

  .team-item {
    background: #F5F5FA;
    border-radius: 12px;
  }

  .carousel-item {
    display: flex;

    .team-photo {
      width: 30%;

      img {
        width: 100%;
      }
    }

    .team-text {
      width: 70%;
      padding-left: 70px;
      padding-top: 60px;

      h3 {
        @include text(42px, 50px, $dominant-color, bold);
      }

      .name {
        @include text(18px, 21px, $slide-text-color, normal);
      }

      .position {
        @include text(16px, 22px, $slide-text-color, normal);
      }
    }

  }

}