.banner {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  padding-top: $banner-top-offset;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow-y: hidden;


  .center-content {
    margin-top: -45px;
    position: relative;

    &:before,
    &:after {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 600px;
      width: 100%;

    }

    &:before {
      content: url("../images/Symbol-Long-leg.svg");
    }
    &:after {
      content: url("../images/Frame_2(1).svg")
    }

    p {
      @include text(38px, 45px, $main-text-color, normal);
      text-align: center;
      max-width: 500px;
      margin: 0 auto;
      position: relative;
    }
  }

}